.container {
	width: 710px;
}
body {
	background: LightSteelBlue;
}
header {
	padding-top: 20px;
}
header img {
	padding: 1em;
	background: #fff;
}
section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}
section h1 {
	font-size: 200%;
	color: #A22448;
}

/* runde Ecken */

.round {
	-moz-border-radius: 		10px;
  -webkit-border-radius: 	10px;
  border-radius:					10px;
}

/* Links */
a {
	color: #09c;
	text-decoration: none;
}
	a:hover {
	text-decoration: none;
	color: #A22448;
}
a:visited {
	color: #069;
}

/* Navigation */
nav {
	float: right;
}
nav {
	background-color: #fff;
	padding: 0 0.7em;
	white-space: nowrap;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}
nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}
nav ul li a:visited {
	color: #09c;
}
nav ul li a:hover {
	text-decoration: none;
	color: #A22448;

}

/* footer */

footer {
	text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
	margin-right: auto;
}
footer nav {
	float: none;
  background-color: #fff;
}

/* User show page */
table.profile {
	width: 100%;
	margin-bottom: 0;
}
td.main {
	width: 70%;
	padding: 1em;
}
td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
}

#facebook img {
  padding: 0;
	background-color: LightSteelBlue;
}

/* style für login-form */
#start {
	 background-color: Gainsboro;
   width: 50%;
   padding: 3px;
}
/* style für fast alle Formulare */
#login {
	 background-color: Gainsboro;
   width: 60%;
   padding: 3px;
}

#login form {
	padding: 0;
  margin: 0;
}

#login table {
	padding: 0;
  margin: 0;
}

#login .field label {
	padding: 0 0 0 1px;
  margin: 0 0 0 0;
  font-weight: normal;
  font-size: 80%;
}

#login .field text_field {
  padding: 0;
  margin-left: 50px;
}
.actions {
 	padding: 5px 0 5px 2px;
  margin-left: 3px 0 3px 0;
}

#list {
	margin: 0;
	background-color: Gainsboro;
  width: 70%;
  padding: 3px 3px 3px 4px;
  margin: 5px;
}

#list p  {
  margin: 1px 0 0 7px;
}
#list p a {
  margin: 3px 0 0 7px;
}

#adrlist {
	margin: 0;
	background-color: Gainsboro;
  width: 90%;
  padding: 1px 3px 1px 4px;
  margin: 2px 0 0 5px;
  font-size: small;
}

#adrlist td  {
  padding: 1px 0 1px 0;
  margin: 0;
}
#adrlist p a {
  margin: 3px 0 0 7px;
}
#adrsuche {
 	width: 60%;
  background-color: Gainsboro;
  margin: 0 0 0 5px;
  padding: 0;
}

#adrsuche table {
 	width: 55%;
  margin: 0 0 5px 0;
  padding: 0;
}

#adresse {
	 background-color: Gainsboro;
   padding: 3px;
   margin: 0 0 0 5px;
}

#adresse table {
 	width: 100%;
  margin: 0 0 5px 0;
  padding: 0;
}

#login form {
	padding: 0;
  margin: 0;
}

#login table {
	padding: 0;
  margin: 0;
}

#error_explanation p {
	margin: 2px;
  padding: 0;
  font-weight: bold;
  color: red;
}

#error_explanation ul {
	list-style-type: circle;
  margin: 4px;
  padding-left: 12px;
}

#error_explanation h3 {
	margin: 0;
  padding: 0;
}

.centered {
 	text-align: center;
}

h3 {
	color: #A22448;
  padding: 1px 0 0 5px;
  margin: 0 0 1px 0;
}

.cmd-line  {
  padding: 1px 0 1px 0;
  margin: 0;
}
.cmd-line a {
  padding: 0 0 0 5px;
  margin: 0;
}
.cmd-line p {
  padding: 0 0 0 5px;
  margin: 0;
}