<div id="error_explanation">
	<% if @user.errors.any? %>
		<p>Fehlermeldung:</p>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
</div>