<h1>#contact</h1>
<p><b>Fashion Today</b></br>
Diacom Kommunikationsprojekte UG (haftungsbeschr&auml;nkt)</br>
Beuerhof 1</br>
D-54579 &Uuml;xheim</p>

<p><b>Managing Director:</b></br>
Dieter Scholz</p>

<p>Kontakt:</br>
Telefon: +49 (0) 2696. 93 14 88 </br>
Telefax: +49 (0) 2696. 93 14 90 </br>
Email: <%= mail_to "info@fashiontoday.de", "info(fashiontoday)", :encode => "hex" %>
</p>