<div class="centered">
	<h3>Interner Mitarbeiterbereich</h3>
	<p>Bitte besuchen Sie die offizielle Fashion Today Website unter
		<%= link_to "fashiontoday.de", "http://www.fashiontoday.de" %>
	</p>
	<p><%= link_to facebook, "http://facebook.com/fashiontoday" %></p>
</div>
