<footer>
	<nav class="round">
  <p>Fashion Today - Diacom Kommunikationsprojekte UG (haftungsbeschr&auml;nkt) <%= mail_to "info@fashiontoday.de", "Email",
  	:encode => "hex" %></p>
	</nav>
</footer>