<footer>
	<nav class="round">
  <p>Ein Projekt der Fashion Today - Diacom Kommunikationsprojekte UG (haftungsbeschr&auml;nkt)
  		<%= mail_to "info@fashiontoday.de", "Mail",
  	:encode => "hex" %></p>
	</nav>
</footer>